<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>
      <% include ../static/partials/messages.ejs %>


      <h1>Wikis</h1>
            <% if(currentUser) { %>
              <a href="/wikis/new" class="btn btn-primary btn-lg">New Wiki</a>
              <% } %>

            <h2> Public Wikis </h2>

            <ul>
              <% result.publicWikis.forEach((wiki) => {%>
                <li>
                  <a href="/wikis/<%= wiki.id%>"><%= wiki.title %></a>
                </li>
                <% }) %>
            </ul>

            <% if(currentUser && result.privateWikis.length != 0){ %>
              <h2>Private Wikis</h2>

              <ul>
                <% result.privateWikis.forEach((wiki) => { %>
                  <li>
                    <a href="/wikis/<%= wiki.id%>"><%= wiki.title %></a>
                  </li>
                <% }) %>
              </ul>
            <% } %>

    </main>
  </body>
</html>
